.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
  /* background-color: #efe2ba */
}

#flex-container {
  display: flex;
}

.ItemList {
  display: flex;
  justify-content: flex-start;
  /* background-color: green; */
  /* width: 70vw; */
}

/* .ItemList .Item {
  max-width: 65vw;
}
.Cart .Item {
  max-width: 25vw !important;
} */

.Cart {
  /* background-color: orange; */
  display: flex;
  justify-content: flex-end; 
  /* width: 30vw; */
}

#title {
  display: inline-block;
  width: 100vw;
}


button {
  background-color: rgba(38, 103, 41, 0.884);
  color: aliceblue;
  font-size: 1rem;
  min-width: 120px;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
  border: none;
  border-radius: 7px;
  outline: none;
}

button:hover {
  box-shadow: 0px 0px 2px grey;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
